.row1 {
  width: 100px;
  background-color: #45b19d;
}

.container {
  background-color: #e4f9f5;
  border-width: 20px;
  border-color: #45b19d;
}
.col-8 {
  text-align: center;
}
.mainHeading {
  font-size: 60px;
  margin-top: 20px;
  text-align: center;
}
.nameHeading {
  color: #11999e;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}
.hello {
  margin-top: 10px;
  text-align: center;
}
.des {
  font-size: large;
  text-align: center;
}
.navbar {
  background-color: #40514e;
  height: 150px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
.col-8 {
  margin: auto;
}
.carousel slide {
  margin: auto;
  height: 304;
}
.img1 {
  width: 500px;
  height: 256px;
}
.img2 {
  width: 500px;
  height: 600px;
}
.navbar-nav {
  text-align: left;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-github {
  background: white;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}
